* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.root {
  overflow-x: hidden;
}


body {
  margin: 0;
  font-family: 'Alfa Slab One', cursive;
}

.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  background-image: url(./BACK.jpg);
}

.image-item {
  overflow: hidden;
  transform: scale(1);
  transition: all 1s ease-in-out
}

.image-item:hover img  {
  transform: scale(1.02);
}


