@font-face {
  font-weight: 400;
  font-family: DelaGothicOne;
  src: url("../public/fonts/DelaGothicOne-Regular.ttf");
}

body {
  margin: 0;
  font-family: DelaGothicOne, cursive;

}

code {
  font-family: DelaGothicOne, cursive;
}
